:root {
  --backgroundColor: #e9e9e9;
  --color: #004743;
  --chillax: chillax;
  --gravitas: Gravitas One;
  --hand: Gloria Hallelujah;
  --bayon: bayon;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
  color: var(--color);
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color);
  position: absolute;
  z-index: 7;
  pointer-events: none;
}

#main {
  width: 100vw;
  height: 100vh;

}

#hero {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  font-family: var(--chillax);
  
}

.logo h3 {
  font-size: 2rem;
}

nav .nav_elem {
  width: 35vw;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;

}

nav .nav_elem a {
  text-decoration: none;
  color: var(--color);
  font-weight: 600;
}

.hero_container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;

}

.hero_container .hero_left {
  width: 40%;
  height: 100%;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;
}

.hero_left .onbox {
  font-family: var(--gravitas);
}

.hero_left h1 {
  line-height: 1;
}

.hero_left .creations {
  font-family: var(--hand);

}

.hero_container .hero_right {
  width: 60%;
  position: relative;
}
.swiper {
position: absolute;
right: 6%;
bottom: 8%;
  width: 600px;
  height: 600px;
}
.hero_right h3 {
  position: absolute;
  font-family: var(--hand);
  width: 300px;
  top: 0;
  left: 0;
  transform: translate(250px, 120px) rotate(-15deg);
  z-index: 4;
  font-size: 1.6rem;
}

.swiper-slide {
      border-radius: 32px;
      color: #fff;
      overflow: hidden;
}

.swiper-slide img{
object-fit: cover;
height: 100%;
width: 100%;
}


#about {
  width: 100%;
  height: 100%;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 60%;
  position: relative;
}

.title h2 {
  text-align: center;
  font-size: 3rem;
  font-family: var(--bayon);
  font-weight: 400;
  line-height: 1;
  margin-top: 5vw;
}

.title h5 {
  position: absolute;
  font-family: var(--hand);
  width: 15%;
  font-size: 1.2rem;
  top: 50%;
  left: 0;
  transform: translate(-50%, -60%)rotate(-16deg);
  font-weight: 600;
}

.about_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about_section {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: antiquewhite; */
  padding: 7rem 2rem;
}

.about_section h3 {
  font-family: var(--hand);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.about_section h4 {
  font-family: var(--bayon);
  font-size: 1.4rem;
}

#about button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: .5rem 1.8rem;
  font-size: 1.6rem;
  font-family: var(--bayon);
  color: var(--backgroundColor);
  background-color: var(--color);
  border-radius: 40px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

#about button>i {
  color: var(--backgroundColor);
  font-size: 2rem;
  text-align: center;
}

#about button:hover {
  scale: 1.01;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

svg {
  /* background-color: powderblue; */
  stroke: var(--color);
  stroke-width: 3px;
}

#map {
  display: flex;
  width: 200vw;
  /* 2 full screens */
  height: 100vh;
  position: relative;
}

#map svg {
  position: absolute;
  top: 0%;
  left: 0;
  transform: translate(10%, 10%);
  z-index: 4;
}


.container {
  width: 100%;
  height: 100vh;
  background-color: #004743;
  position: relative;
  color: var(--backgroundColor);
  font-family: var(--bayon);
}

.container h2 {
  position: absolute;
  font-weight: 400;
  font-size: 3rem;
  top: 10%;
  left: 4%;
}

.box {
  position: absolute;
  top: 49%;
  left: 10%;
  /* background-color: antiquewhite; */
}

.box h3 {
  position: absolute;
  font-family: var(--hand);
  font-weight: 400;
  top: 0;
  font-size: 2rem;
  transform: translate(0%, -130%) rotate(-7deg);
}

.box h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

.box1 {
  position: absolute;
  top: 86%;
  left: 82%;
  /* background-color: antiquewhite; */
}

.box1 h3 {
  position: absolute;
  font-family: var(--hand);
  font-weight: 400;
  top: 0;
  font-size: 2rem;
  transform: translate(0%, -130%) rotate(7deg);
}

.box1 h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

.box2 {
  position: absolute;
  top: 42%;
  left: 28%;
  /* background-color: antiquewhite; */
}

.box2 h3 {
  position: absolute;
  font-family: var(--hand);
  font-weight: 400;
  top: 0;
  font-size: 2rem;
  transform: translate(0%, -130%) rotate(-10deg);
}

.box2 h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

.box3 {
  position: absolute;
  top: 86%;
  left: 73%;
  /* background-color: antiquewhite; */
}

.box3 h3 {
  position: absolute;
  font-family: var(--hand);
  font-weight: 400;
  top: 0;
  font-size: 2rem;
  transform: translate(0%, -130%) rotate(5deg);
}

.box3 h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

#material {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
}

.material_title {
  position: relative;
}

.material_title h2 {
  font-size: 2.3rem;
  font-family: var(--bayon);
  font-weight: 400;

}

.material_title h4 {
  text-align: end;
  font-size: 1.3rem;
  width: 150px;
  position: absolute;
  font-family: var(--hand);
  top: 0;
  right: 0;
  transform: translate(50%, -50%)rotate(7deg);
  font-weight: 600;
}

.material_content {
  width: 100%;
  margin-top: 7%;
  display: flex;
  flex-direction: column;

}

.material_content .element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--color);
  position: relative;
}

.element h3 {
  font-family: var(--gravitas);
  font-size: 3rem;
  margin-bottom: 3px;
  padding: 1.5rem 40px;
  position: relative;
  z-index: 2;
}

.element h4 {
  width: 30%;
  font-family: var(--hand);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: end;
  margin-bottom: 3px;
  padding: 1.5rem 40px;
  position: relative;
  z-index: 2;
}

.picture {
  position: absolute;
  width: 270px;
  height: 270px;
  /* background-color: rgb(255, 0, 85); */
  border-radius: 35px;
  pointer-events: none;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.picture img {
  object-fit: cover;
  width: 270px;
  height: 270px;
}

.layer {
  position: absolute;
  bottom: 0;
  background-color: var(--color);
  width: 100%;
  height: 0%;
  /* display: none; */
  pointer-events: none;
}

#work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  padding: 2rem 3rem;
  padding-top: 5rem;
}

.work_title h2 {
  font-size: 2rem;
  font-family: var(--bayon);
  text-align: center;
  margin-top: 5%;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.work_title h3 {
  font-family: var(--hand);
  font-weight: 600;
}

.images {
  width: 100%;
  display: flex;
  margin-top: 2.4rem;
}
.images .shadow{
  border-radius: 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.left {
  width: 35%;
  height: 40%;
  overflow: hidden;
}

.right {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  overflow: hidden;
}

.top {
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

.tleft {
  overflow: hidden;
}

.tright {
  overflow: hidden;
}

.bottom {
  overflow: hidden;
}

.images img {
  object-fit: cover;
  opacity: 20%;
  
}

footer {
  overflow: hidden;
  padding: 0 3rem;
  position: relative;
  width: 100%;
  height: 60%;
}

footer svg {
  stroke: var(--color);
  stroke-width: 3px;
  /* background-color: red; */
}

.f-content {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.f-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.f-left>h4 {
  font-size: 1rem;
  font-family: var(--chillax);
}

.last {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 47%);
}

.last h2 {
  font-family: var(--gravitas);
  font-size: 20rem;
}

.ftop h3 {
  font-family: var(--bayon);
  font-weight: 400;
  font-size: 2rem;
}

.ftop h4 {
  font-family: var(--hand);
  font-size: 1rem;
}

.f-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-family: var(--chillax);
  font-weight: 400;
  padding-right: 2rem;

}

.fr-left a {
  text-decoration: none;
  color: var(--color);
  font-size: 1.4rem;
  font-family: var(--chillax);
  font-weight: 700;
  display: block;
}

.magnetic {
  display: inline-block;
  position: relative;
  z-index: 8;
  will-change: transform, color;
}